body {
  background-color: #000032;
  font-family: "Neue Machina", "Autorich Sans", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji";
  color: white;
}

.header {
  padding-top: 15px;
  display: flex;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logotype {
  width: 212px;
  padding-left: 44px;
  padding-right: 44px;
}
.phone {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: "Neue Machina", "Autorich Sans", sans-serif, -apple-system,
    BlinkMacSystemFon t, "Segoe UI", "Apple Color Emoji";
  margin-right: 51px;
}
.consultation {
  color: white;
  text-decoration: none;
  border: 1px solid;
  border-radius: 67px;
  padding: 0 45px;
  height: 58px;
  font-family: HelveticaNeueCyr, sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Apple Color Emoji";
  letter-spacing: 0.1em;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
.main_inner_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 84px;
}
.main_text {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 71px;
  color: white;
  text-transform: uppercase;
  line-height: 1.15;
}
.main_subtitle_text {
  color: white;
  text-transform: uppercase;
  line-height: 1.4;
}
.main_img {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.background-images {
  display: absolute;
}
.back_img {
  position: absolute;
  top: 1%;
  left: 50%;
  z-index: -1;
}
.frame {
  position: absolute;
  top: -5%;
  left: 35%;
  z-index: -1;
}
.back_img_2 {
  position: absolute;
  top: 80%;
  left: 30%;
  z-index: -1;
}
.footer_first_page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  flex-wrap: wrap;
  padding-left: 84px;
}
.footer1 {
  margin-right: 48px;
}
.footer1 span {
  margin-right: 16px;
  color: #1e4fc6;
}
